
.bottomWrapper {
	width: 1000px;
	height: 40px;
	position: fixed;
	bottom: 0;
}

.bottomWrapper b {
	width: 40px;
	line-height: 100%;
	color:#000000;
	font-size: 16px;
	display: inline-block;
}

.bottomWrapper .botmMenu {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 15px;
}
