.tabBar {
	width: 100%;
}
.tabBar .tabBarLabel {
	display: inline-block;
	line-height: 40px;
}

.tabBar button {
	margin-left: 10px;
	background-color: #F3F3F3 ;
	color:#666666;
}

.tabBar .antIconRight {
	float: right;
	margin-right: 20px;
	line-height: 40px;
}

:global div .ant-radio-button-wrapper {
	border: none ;
	border-radius: 0 ;
	border-bottom: 2px solid #ebebeb;
}
:global div .ant-radio-group-large .ant-radio-button-wrapper {
	line-height: 40px;
}

:global div .ant-radio-button-wrapper:first-child {
	border-left: none ;
	border-radius: 0;
}
:global div .ant-radio-button-wrapper:last-child {
	border-radius: 0;
}

:global div .ant-radio-group-large .ant-radio-button-wrapper {
	height: 40px;
}

:global div .ant-radio-button-wrapper:hover, 
:global div .ant-radio-button-wrapper-focused {
	border-bottom: 2px solid #108ee9;
	box-shadow:0 0 0 0 #108ee9;
}

:global div  .ant-radio-button-wrapper-checked {
	border-bottom: 2px solid #108ee9;
	box-shadow:0 0 0 0 #108ee9;
}
