:global div .ant-table-thead > tr > th {
	text-align: center;
	padding:10px 8px;
	font-weight: bold;
	font-size: 1.05em;
	color:#666666;
}

:global div .ant-table-tbody > tr > td {
	padding:10px 8px;
	text-align: center;
}

:global div .ant-table-title {
	padding: 5px 0px ;
	background: #E6F3FC;
}

:global div .ant-table-title .anticon-exclamation-circle {
	margin-right: 10px;
}

:global div tr.ant-table-expanded-row > td {
	border-right: none !important;
}